@font-face {
  font-family: "iconfont"; /* Project id 2719216 */
  src: url('iconfont.woff2?t=1628471406621') format('woff2'),
       url('iconfont.woff?t=1628471406621') format('woff'),
       url('iconfont.ttf?t=1628471406621') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-biaoqing:before {
  content: "\e797";
}

.icon-link-line:before {
  content: "\e63e";
}

.icon-tupian:before {
  content: "\e62f";
}

.icon-huatifuhao:before {
  content: "\e8b0";
}

.icon-pinglun1:before {
  content: "\e636";
}

.icon-dianzan:before {
  content: "\e627";
}

.icon-fenxiang1:before {
  content: "\e602";
}

.icon-pinglun:before {
  content: "\e8b4";
}

.icon-star:before {
  content: "\e61a";
}

.icon-qq-copy:before {
  content: "\e67f";
}

.icon-jinggao:before {
  content: "\e715";
}

.icon-yanjing:before {
  content: "\e6cc";
}

.icon-tubiao_dianzan:before {
  content: "\e610";
}

.icon-iconfontweixin:before {
  content: "\e638";
}

.icon-fankui-tianchong:before {
  content: "\e652";
}

.icon-weibo:before {
  content: "\e666";
}

.icon-guanbi:before {
  content: "\e607";
}

.icon-GitHub:before {
  content: "\e8c6";
}

